  
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="<%= htmlWebpackPlugin.options.remotes.utilities %>"></script>
    <script src="<%= htmlWebpackPlugin.options.remotes.appOne %>"></script>
    <script src="<%= htmlWebpackPlugin.options.remotes.appTwo %>"></script>
    <script src="<%= htmlWebpackPlugin.options.remotes.appThree %>"></script>
  </head>
  <body>
    <div class="alert alert-warning">
      <h4 class="alert-heading">Application Shell</h4>
      <ul>
        <li>Environment: <strong><%= htmlWebpackPlugin.options.mode %></strong></li>
        <li>Framework: <strong>Single Spa</strong></li>
      </ul>
      <hr>
      <div id="single-spa-application:appOne"></div>
      <hr>
      <div id="single-spa-application:appTwo"></div>
      <hr>
      <div id="single-spa-application:appThree"></div>
    </div>
  </body>
</html>